.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rhistory
*.RData
*.RData
*.Rhistory
*.pper
.Rproj.user/59268622/build_options
*.pper
*.dll
src/cppFunctions.o
*.o
*.pper
.RData
*.Rhistory
.Rproj.user/59268622/build_options
.Rproj.user/shared/notebooks/paths
*.pper
